

.login-box{
	width:350px;
	height:350px;
	padding:20px;
	background-color:rgba(255,255,255,0.9);
	border-radius: 10px ;
	border:ridge black;
	margin-top: 100px;
	margin-left: 500px;
}

#login-button
{
	width:100px;
	border-radius: 20px ;
	border:solid;
	color:floralwhite;
	background-color:black;
	
}
a:link{
	color: black;
}
a:visited{
	color: black;
}
a:active{
	color:darkmagenta;
}
a:hover{
	color:darkmagenta;
}

input{
	width:270px;
}
i{
	font-size:50px;
}

.one{
	font-size: 50px;;
}
.second{
	font-size:30px;
}